.bg{
    width: 1050px;
    height: 900px;
    padding: 5px;
    background-color: rgb(38, 38, 100);
    margin-left: 200px;
    margin-top: 50px;
}
.clock{
    display: block;
    padding: 20px;
    margin-left: 50px;
    margin-top: 20px;
}

.timetable1{
    width: 400px;
    height: 30px;
    color: navy;
    background-color: white ; 
    z-index:2; 
    position: absolute;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin-left: 770px;
    margin-top: -820px;  
}
.TIME{
    font-size: 25px;
}
#hour{
    width: 55px;
    height: 50px;
    color: rgb(167, 61, 167);
    background-color: rgb(236, 221, 224);
    padding: 10px;
    border-radius: 5px;
    margin-top: -20px;
    text-align: center;
    font-size: 20px;
}
#minutes{
    width: 55px;
    height: 50px;
    color: rgb(167, 61, 167);
    background-color: rgb(236, 221, 224);
    padding: 10px;
    border-radius: 5px;
    margin-top: -20px;
    text-align: center;
    font-size: 20px;
}
#seconds{
    width: 55px;
    height: 50px;
    color: rgb(167, 61, 167);
    background-color: rgb(236, 221, 224);
    padding: 10px;
    border-radius: 5px;
    margin-top: -20px;
    text-align: center;
    font-size: 20px;
}
#AM{
    width: 55px;
    height: 50px;
    color: white;
    background-image: url(./darkblucolor.jpg);
    padding: 10px;
    border-radius: 5px;
    margin-top: -20px;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
}
.timetable2{
    width: 350px;
    height: 30px;
    color: navy;
    background-color: rgb(235, 229, 229) ; 
    z-index: 1;
    position: absolute;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin-left: 790px;
    margin-top: -810px;  
}
.timetable3{
    width: 300px;
    height: 30px;
    color: navy;
    background-color: rgb(224, 213, 213) ; 
    padding: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin-left: 810px;
    margin-top: -800px; 
}
.set{
    width: 70px;
    height: 70px;
    margin: -20px 20px;
}
.adjust{
    margin-left: 50px;
}
.GM {
    width: 430px;
    height: 40px;
    color: white;
    background-color: navy;
    font-family:'Courier New', Courier, monospace;
    font-weight: bolder;
    position: absolute;
    font-size: x-large;
    text-align: center; 
    padding: 20px;
    display: inline-block;
    border-radius: 10px;
    margin-left: 260px;
    margin-top: -300px;
}
.alarm{
    width: 190px;
    height: 20px;
    padding: 10px;
    color: white;
    font-size: 20px;
    text-align: center;
    display: inline-block;
    position: absolute;
    background-image: linear-gradient(90deg, 
    #4933b9, #bb00ff);
    border-radius: 5px;
    margin-left: 265px;
    margin-top: -240px;
    cursor: pointer;
    transition: 1s 1s;
}
.alarm:hover{
   background-image: linear-gradient(to left,
   #4933b9, #bb00ff);
}
.time{
    width: 210px;
    height: 70px;
    padding: 15px;
    color: rgb(235, 88, 112);
    position: absolute;
    background-color: navy;
    text-align: center;
    border-radius: 10px;
    margin-left: 485px;
    margin-top: -250px;
}
.breakfast{
    width: 410px;
    height: 20px;
    color: navy;
    background-color: white ;
    font-family:'Sigmar One', cursive;
    position: absolute;
    font-weight: bolder;
    font-size: 20px;
    text-align: center; 
    padding: 20px;
    border-radius: 10px;
    margin-left: 770px;
    margin-top: -630px;
}
.image{
    width: 450px;
    height: 450px;
    position: absolute;
    border-radius: 10px;
    margin-left: 770px;
    margin-top: -580px;
}
.bigbox{
    width: 450px;
    height: 400px;
    background-color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 10px;
    margin-left: 50px;
 }
 .wake{
   display: flex;
   justify-content: space-evenly;
 }
 .wake1{
     font-size: 20px;
 }
 select{
     width: 220px;
     border-radius: 10px;
     text-align: center;
 }
.line{
    margin-left: 20px;
    font-size: 40px;
}
.heading{
    position: absolute;
    margin-left: 78px;
    color: rgb(167, 61, 167); 
}
.heading1{
    position: absolute;
    margin-left: 170px;
    color: rgb(167, 61, 167); 
}
.heading2{
    position: absolute;
    margin-left: 260px;
    color: rgb(167, 61, 167); 
}



